<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
    <script src="js/game_objects.js"></script>
  </head>

  <body>
    <main>
      <h1>{{title}}</h1>
      <p>{{score}}</p>
      <canvas id="canvas" width="600" height="600" style="border: 1px solid black"></canvas>
      <button onclick="startGame()" value="start" id="startbutton">Start</button>
      <script src="js/gameplay.js"></script>
    </main>
  </body>

</html>