<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
  <script src="js/game_objects.js"></script>
</head>

<body>
  <main id="player_dead">
    <h1>You died!</h1>
    {{#if success_msg}}
    <h2>{{success_msg}}</h2>
    {{/if}}
    <h2 id="score_after_death"></h2>
    <table>
      <ul>
        <li><button onclick="startGame()" value="start" id="startbutton">Try again!</button></li>
        <li><a href="/game/save-score" id="score-saver">Save the score</a></li>
      </ul>
    </table>
  </main>
  <main id="game">
    <h1>Snake</h1>
    {{#if success_msg}}
    <h2>{{success_msg}}</h2>
    {{/if}}
    <canvas id="canvas" width="600" height="600" style="border: 1px solid black"></canvas>
    <button onclick="startGame()" value="start" id="startbutton">Start</button>
    <p id="score"></p>
  </main>
  <script src="js/gameplay.js"></script>
  <script src="js/menu.js"></script>
</body>

</html>