<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="js/game_objects.js"></script>
</head>

<body>
  <h1>{{title}}</h1>
  <canvas id="canvas" width="600" height="600" style="border: 1px solid black"></canvas>
  <button onclick="startGame()" value="Move!">Start</button>
  <button onclick="moveDown()">Down</button>
  <script src="js/gameplay.js"></script>
</body>

</html>