<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Snake</title>
</head>

<body>
    <main>
        <h1>Welcome to Snake</h1>
        <nav>
            <table>
                <ul>
                    <li><a href="/game">Go to Game</a></li>
                    <li><a href="/loginform">Login</a></li>
                    <li><a href="#score">See Scores</a></li>
                </ul>
            </table>
        </nav>
    </main>
</body>

</html>