<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake - Sign Up</title>
</head>

<body>
    <h1>Do you wanna save your score? Sign up now!</h1>
    <form action="sign_up" method="post">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </form>
</body>
=======
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <title>Snake - Sign Up</title>
    </head>

    <body>
        <main>
            <h1>Do you wanna save your score? Sign up now!</h1>
            {{#if err_msg}}
                <p>{{err_msg}}</p>
            {{/if}}
            <form action="sign_up" method="post">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname">
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="username">Username</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Save">
            </form>
        </main>
    </body>
>>>>>>> login

</html>