html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: rgb(49, 49, 49);
  color: rgb(179, 170, 170);
}
h1 {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0;
}
#startbutton {
  width: 300px;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(179, 170, 170);
  background-color: rgb(87, 83, 83);
  border: solid black;
}
#startbutton:hover {
  background-color: rgb(133, 128, 128);
  color: rgb(58, 57, 57);
}
#score-saver {
  width: 300px;
  font-size: 50px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(179, 170, 170);
  background-color: rgb(87, 83, 83);
  border: solid black;
}
#score-saver:hover {
  background-color: rgb(133, 128, 128);
  color: rgb(58, 57, 57);
}
canvas {
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(179, 170, 170);
  margin: 0;
}
main {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#player_dead li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
input {
  padding: 10px;
}
#player_dead {
  display: none;
}
nav li {
  list-style-type: none;
  margin-top: 100px;
}
nav a {
  font-size: 50px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 400px;
  padding-left: 400px;
  text-decoration: none;
  color: rgb(179, 170, 170);
  background-color: rgb(87, 83, 83);
  border: solid black;
}
nav a:hover {
  background-color: rgb(133, 128, 128);
  color: rgb(58, 57, 57);
}
